<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8" />

	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

	<title>PixelArt Factory Dashboard</title>

	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />

    <!-- Favicon -->
    <link rel="icon" type="image/png" sizes="96x96" href="{{asset('admin/img/favicon-96x96.png')}}">
    
    <!-- Bootstrap core CSS     -->
    <link href="{{ asset('admin/css/bootstrap.min.css') }}" rel="stylesheet" />

    <!-- Animation library for notifications   -->
    <link href="{{ asset('admin/css/animate.min.css') }}" rel="stylesheet"/>

    <!--  Light Bootstrap Table core CSS    -->
    <link href="{{ asset('admin/css/light-bootstrap-dashboard.css?v=1.4.0') }}" rel="stylesheet"/>

    <!--     Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
    <link href="{{ asset('admin/css/pe-icon-7-stroke.css') }}" rel="stylesheet" />
    <link href="{{ asset('admin/css/style.css') }}" rel="stylesheet" />

</head>
<body>

<div class="wrapper">
    <div class="sidebar" data-color="orange" data-image="{{ asset('images/pixelart_wallpaper_home.png') }}">

    <!--

        Tip 1: you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple"
        Tip 2: you can also add an image using data-image tag

    -->

    	<div class="sidebar-wrapper">
            <div class="logo">
                <a href="{{ path('homepage') }}" class="simple-text">
                    PixelArt Factory
                </a>
                    <div class="text-right">{{ "now"|date("d/m/Y H:i") }}</div>
                </div>

            <ul class="nav">
                <li class="{% if global.request.attributes.get('_route') == 'admin_dashboard' %}active{% endif %}"">
                    <a href="{{ path('admin_dashboard') }}">
                        <i class="pe-7s-graph"></i>
                        <p>Dashboard</p>
                    </a>
                <li class="{% if global.request.attributes.get('_route') == 'admin_userlist' %}active{% endif %}">
                    <a href="{{ path('admin_userlist') }}">
                        <i class="pe-7s-graph"></i>
                        <p>Users</p>
                    </a>
                <li class="{% if global.request.attributes.get('_route') == 'admin_pictureslist' %}active{% endif %}">
                    <a href="{{ path('admin_pictureslist') }}">
                        <i class="pe-7s-graph"></i>
                        <p>Pictures</p>
                    </a>
                <li class="{% if global.request.attributes.get('_route') == 'admin_categorieslist' %}active{% endif %}">
                    <a href="{{ path('admin_categorieslist') }}">
                        <i class="pe-7s-graph"></i>
                        <p>Categories</p>
                    </a>
                </li>

            </ul>
    	</div>
    </div>

    <div class="main-panel">
        <nav class="navbar navbar-default navbar-fixed">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ path('admin_dashboard') }}">Dashboard</a>

                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">                        
                    {% if app.user %}
                        <li>                                  
                             <a href="{{ path('admin_logoutadmin') }}">Déconnexion</a>                                
                             <span style="margin: 5px; padding: 5px;">Admin : {{ app.user.username }}</span>
                        </li>
                    {% else %}
                         <li>
                             <a href="{{ path('loginadmin') }}">Connexion</a>
                         </li>   
                     {% endif %}                      
                    </ul>
                </div>
            </div>
        </nav>


        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    {#{{ dump(global.request.attributes) }}#}
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>


        <footer class="footer">
            <div class="container-fluid">

                <p class="copyright pull-right">
                    <h3>2017 &copy; pixelart-factory.com by vejj</h3>
                    
                </p>
            </div>
        </footer>

    </div>
</div>


</body>

    <!--   Core JS Files   -->
    <script src="{{ asset('admin/js/jquery.3.2.1.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('admin/js/bootstrap.min.js') }}" type="text/javascript"></script>

    <!--  Charts Plugin -->
    <script src="{{ asset('admin/js/chartist.min.js') }}"></script>

    <!--  Notifications Plugin    -->
    <script src="{{ asset('admin/js/bootstrap-notify.js') }}"></script>

    <!--  Google Maps Plugin    -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>

    <!-- Light Bootstrap Table Core javascript and methods for Demo purpose -->
    <script src="{{ asset('admin/js/light-bootstrap-dashboard.js?v=1.4.0') }}"></script>

    <!-- Light Bootstrap Table DEMO methods, don't include it in your project! -->
    <script src="{{ asset('admin/js/demo.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.min.js"></script>
       <script>
           $(document).on('click', '[data-toggle="lightbox"]', function(event) {
                event.preventDefault();
                $(this).ekkoLightbox();
            });
       </script>
    {% block script %}{% endblock %}


</html>

