{% extends 'admin/layout_admin.html.twig'%}

{% block content %}
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="header">
                            <h4 class="title">Users</h4>
                            <p class="category">Liste des membres enregistrés sur le site</p>
                        </div>
                        <div class="content table-responsive table-full-width">
                            <table class="table table-hover table-striped">
                                <thead>
                                    <th>ID</th>
                                    <th>Username</th>
                                    <th>Firstname</th>
                                    <th>Lastname</th>                                    
                                    <th>Email</th>
                                    <th>Role</th>
                                    <th>Éditer</th>
                                    <th>Supprimer</th>               
                                </thead>
                                <tbody>
                                    {% for user in users %}
                                    <tr>
                                            <td>{{user.idUsers}}</td>
                                            <td>{{user.username}}</td>
                                            <td>{{user.firstname}}</td>
                                            <td>{{user.lastname}}</td>                                            
                                            <td>{{user.email}}</td>
                                            <td>{{user.role}}</td>
                                            <td>
                                            <a href="{{ path('admin_useredit', {id:user.idUsers}) }}">&Rightarrow;</a> 
                                            </td>
                                            <td>
                                            <a href="{{ path('admin_userdelete', {id:user.idUsers}) }}">&cross;</a>
                                            </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
