{% extends "layout.html.twig" %}

{% block intro %}
    <div class="intro-learn-one row">
        <div class="overlay"></div>
        <div class="col-sm-12">
            <h1 class="mt0 color-white">Apprendre PixelArt</h1>
        </div>
    </div> <!-- /.intro.row -->
{% endblock %}

    {% block content %}
        <main>
        <section>
            <div class="container-fluid page-bgc">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="title-box">
                            <h2 class="title mt0">{{ picture.title }}</h2>
                        </div>
                    </div>
                </div>
                
           
                <div class="row">
                    <div class="col-sm-2 col-md-2">
                        <h2>Miniature</h2>
                        <div class="thumbnail">
                            <img id="thumb-learn" src="{{ picture.thumb }}">
                        </div>

                        <h2>Palette</h2>
                        <ul id="colors" class="list-unstyled list-inline"></ul>
                    </div>
                    <div class="col-sm-2 col-md-2 col-md-push-8">
                        <h2>Vitesse</h2>
                        <div id="speed">
                            <button class="btn btn-robot btn-robot2 btn-lg speed" value="4000">1</button>
                            <button class="btn btn-robot btn-robot2 btn-lg speed" value="3000">2</button>
                            <button class="btn btn-robot btn-robot2 btn-lg speed" value="2000">3</button>
                            <button class="btn btn-robot btn-robot2 btn-lg speed"value="1000" >4</button>
                            <button class="btn btn-robot btn-robot2 btn-lg speed"value="500" >5</button>
                        </div>
                        
                        <h2>Navigation</h2>
                        <button id="play" class="btn btn-robot btn-lg"><span class="glyphicon glyphicon-play" aria-hidden="true"></span></button>
                        <button id="pause" class="btn btn-robot btn-lg"><span class="glyphicon glyphicon-pause" aria-hidden="true"></span></button>
                        <button id="replay" class="btn btn-robot btn-lg"><span class="glyphicon glyphicon-repeat" aria-hidden="true"></span></button>

                        <h2>Etapes</h2>
                        <ul id="steps" class="list-unstyled"></ul>
                    </div>  
                        
                    <div class="col-sm-8 col-md-8 col-md-pull-2">
                        <div id="container-learn" ><canvas id="canvas-learn"></canvas></div>
                    </div>
                </div>

                <div class="text-center mt4">
                    <a href="{{ path('galery-pixelart', { p : 1 }) }}" class="btn btn-robot btn-lg">Choisir un autre</a>
                    <a href="{{ path('creation') }}" class="btn btn-robot btn-lg">Créer un PixelArt</a>
                </div>

            </div>
        </section>
        </main>

    {% endblock %}

{% block script %}
    <script src="{{ asset('js/apprendre.js') }}"></script>
{% endblock %}