{% extends "layout.html.twig" %}
{% block style %}{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <h2>Formats</h2>
                <button id="petitrectangle">Petit rectangle</button><br>
                <button id="carremoyen">Carré Moyen</button><br>
                <button id="rectanglemoyen">Rectangle Moyen</button><br>
                <button id="grandcarre">Grand carré</button><br>
                <button id="grandrectangle">Grand rectangle</button><br>
                <h2>Personnaliser</h2>
         <label>Combien de colonnes voulez-vous?</label><br>
         
     <select id="col" class="choix">
        <option></option>
        <script>
            for(i=1;i<=100;i++){
                document.write('<option>'+i+'</option>');
            }
        </script>
    </select>
    <br>
    <label>Combien de rangées voulez-vous?</label><br>
     <select id="row" class="choix">
        <option></option>
        <script>
            for(i=1;i<=100;i++){
                document.write('<option>'+i+'</option>');
            }
        </script>
    </select><br>
        <div>
            <br><br><br>
            <button id="zoom"><span class="glyphicon glyphicon-zoom-in" aria-hidden="true"></button>
            <button type="button" id="dezoom"><span class="glyphicon glyphicon-zoom-out" aria-hidden="true"></span></button><br><br>
            <!-- Large modal -->
            <button type="button" class="btn btn-primary save" data-toggle="modal" data-target=".bs-example-modal-md">Sauvegarder le brouillon</button><br>
</div>
{% if app.user %}
  <div id="modal" class="modal fade bs-example-modal-md" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <br>
        <div class="container-fluid">
            <form id="form" method="post" action="{{ path('register_picture') }}">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <label>Titre du pixelart:</label><br>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-md-offset-3"> 
                        <input type="text" name="title" id="title"><br><br>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <label>Catégorie:</label><br>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <input type="text" name="id_categories" id="id_categories"><br><br>
                        <input type="hidden" name="canvas" value="" id="envoicanvas">
                        <input type="hidden" name="state" value="0" id="state">
                        <input type="hidden" name="thumb" value="1" id="thumb">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-md-offset-6">
                        <input type="submit" value="Sauvegarder"><br>
                    </div>
                </div>
            </div>  
        </form>
        <br>
    </div>
  </div>
</div>
    <br>
{% else %}
    
<div id="modal" class="modal fade bs-example-modal-md" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <br>
        <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
        <p id="psaveconnexion">Pour sauvergarder il faut d'abord vous connecter</p>
        </div>
            </div>
                   <div class="row">
            <div class="col-md-2 col-md-offset-5"> 
        <button id="asaveconnexion"><a href="{{ path('login') }}">Connexion</a></button><br>
            
            </div>
            </div>
        </div>
        
        <br>
    </div>
  </div>
</div>
    <br>

{% endif %}
<button type="button" class="btn btn-primary save" data-toggle="modal" data-target=".bs-example-modal-lg">Publier votre dessin</button>
{% if app.user %}

<div id="modal" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <br>
        <div class="container-fluid">
            <form id="form2" method="post" action="{{ path('register_picture') }}">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <label>Titre du pixelart:</label><br>
                    </div>
                </div>
            <div class="row">
                <div class="col-md-6 col-md-offset-3"> 
                    <input type="text" name="title" id="titledef"><br><br>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <label>Catégorie:</label><br>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <input type="text" name="category" id="id_categoriesdef"><br><br>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-md-offset-6">
                    <input type="hidden" name="canvas" value="" id="envoicanvasdef">
                    <input type="hidden" name="state" value="1" id="statedef">
                    <input type="hidden" name="thumb" id="thumbdef">
                    <input type="submit" value="Publier"><br>
                </div>
            </div>
        </form>
        </div>
        <br>
    </div>
  </div>
</div>

{% else %}
<div id="modal" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <br>
        <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
        <p id="psaveconnexion">Pour sauvergarder il faut d'abord vous connecter</p>
        </div>
            </div>
                   <div class="row">
            <div class="col-md-2 col-md-offset-5"> 
                <button id="asaveconnexion"><a href="{{ path('login') }}">Connexion</a></button><br><br>
            
            </div>
            </div>
        </div>
    </div>
    </div>
    </div>
        <br>
  {% endif %}
        
        
    </div>
  

    <br>
            
            <div class="col-md-6" id="cadre" style="overflow:scroll;">
                <canvas id="canvas";>Votre navigateur ne supporte pas canvas</canvas>
            </div>
            <div class="col-md-3" id="couleurs">
                <div id="my">
                    <h2>Couleurs</h2>
                    <button style="background-color: gainsboro;"
    data-color="Gainsboro"></button>
                    <button style="background-color: darkgray;"
    data-color="darkgray"></button>
<button style="background-color: dimgray;"
    data-color="dimgray"></button><br>
<button style="background-color: Peru;"
    data-color="Peru"></button>
<button style="background-color: SaddleBrown;"
    data-color="SaddleBrown"></button>
<button style="background-color: Sienna;"
    data-color="Sienna"></button><br>
<button style="background-color: red;"
    data-color="red"></button>
<button style="background-color: firebrick;"
    data-color="firebrick"></button>
<button style="background-color: darkred;"
    data-color="darkred"></button><br>
<button style="background-color: orangered;"
    data-color="orangered"></button>
<button style="background-color: DarkOrange;"
    data-color="DarkOrange"></button>
<button style="background-color: Orange;"
    data-color="Orange"></button><br>
<button style="background-color: Gold;"
    data-color="Gold"></button>
<button style="background-color: Yellow;"
    data-color="Yellow"></button>
<button style="background-color: Khaki;"
    data-color="Khaki"></button><br>
<button style="background-color: LawnGreen;"
    data-color="LawnGreen"></button>
<button style="background-color: Green;"
    data-color="Green"></button>
<button style="background-color: DarkGreen;"
    data-color="DarkGreen"></button><br>
<button style="background-color: DodgerBlue;"
    data-color="DodgerBlue"></button>
<button style="background-color: Blue;"    
    data-color="Blue"></button>
<button style="background-color: DarkBlue;"
    data-color="DarkBlue"></button><br>
<button style="background-color: DarkViolet;"
    data-color="DarkViolet"></button>
<button style="background-color: Purple;"
    data-color="Purple"></button>
<button style="background-color: Indigo;"
    data-color="Indigo"></button><br>
<button style="background-color: White;"
data-color="White"></button>
<button style="background-color: black;"
data-color="Black"></button>
   

           





            </div>
            
            
        </div>
    </div>
    </div>
{% endblock %}

{% block script %}
    <script src="{{ asset('js/creation.js') }}"></script>
{% endblock %}

