{% extends "layout.html.twig" %}
{% block style %}{% endblock %}
{% block intro %}
    <div class="intro-learn-one row">
        <div class="overlay"></div>
        <div class="col-sm-12">
            <h1 class="mt0 color-white">Créer un PixelArt</h1>
        </div>
    </div> <!-- /.intro.row -->
{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            
            <div class="col-md-3">
                <!--Selection du format-->
                <h2>Formats</h2><br>
                <button id="petitrectangle" class="btn btn-robot btn-md">Petit rectangle</button><br><br>
                <button id="carremoyen" class="btn btn-robot btn-md">Carré Moyen</button><br><br>
                <button id="rectanglemoyen" class="btn btn-robot btn-md">Rectangle Moyen</button><br><br>
                <button id="grandcarre" class="btn btn-robot btn-md">Grand carré</button><br><br>
                <button id="grandrectangle" class="btn btn-robot btn-md">Grand rectangle</button><br><br>
                <h2>Personnaliser</h2>
         <label>Combien de colonnes voulez-vous?</label><br>
         
             <select id="col" class="choix">
                <option>2</option>
                <script>
                    for(i=3;i<=100;i++){
                        document.write('<option>'+i+'</option>');
                    }
                </script>
            </select>
            <br>
        <label>Combien de rangées voulez-vous?</label><br>
         <select id="row" class="choix">
            <option>2</option>
            <script>
                for(i=3;i<=100;i++){
                    document.write('<option>'+i+'</option>');
                }
            </script>
        </select><br>
        <div>
            <br><br><br>
            
            <!-- Large modal pour sauvegarder brouillon -->
        <button type="button" class="btn btn-primary save" data-toggle="modal" data-target=".bs-example-modal-md">Sauvegarder le brouillon</button><br>
        </div>
{% if app.user %}
  <div id="modal" class="modal fade bs-example-modal-md" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <br>
        <div class="container-fluid">
            <form id="form" method="post" action="{{ path('register_picture') }}">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <label>Titre du pixelart:</label><br>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-md-offset-3"> 
                        <input type="text" name="title" id="title"><br><br>
                        <p id="erreurtitre"></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <label>Catégorie:</label><br>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <select id="id_categories">
                        {% for categorie in categories %}
                            <option value="{{ categorie.idCategories }}" >{{ categorie.title }}</option>
                        {% endfor %}
                        </select>
                        <br><br>
                        <input type="hidden" name="canvas" value="" id="envoicanvas">
                        <input type="hidden" name="state" value="0" id="state">
                        <input type="hidden" name="thumb" value="1" id="thumb">
                        
                    </div>
                </div>
                        
                        
                    
                <div class="row">
                    <div class="col-md-6 col-md-offset-6">
                        <input type="submit" value="Sauvegarder"><br>
                        
                    </div>
                </div>
              </form>

            </div>  
        <br>
    </div>
  </div>
</div>
    <br>
{% else %}
    
<div id="modal" class="modal fade bs-example-modal-md" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <br>
        <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
        <p id="psaveconnexion">Pour sauvergarder il faut d'abord vous connecter</p>
        </div>
            </div>
                   <div class="row">
            <div class="col-md-2 col-md-offset-5"> 
        <button id="asaveconnexion"><a href="{{ path('login') }}">Connexion</a></button><br>
            
            </div>
            </div>
        </div>
        
        <br>
    </div>
  </div>
</div>
    <br>

{% endif %}
<!--Publier le dessin-->
<button type="button" class="btn btn-primary save" data-toggle="modal" data-target=".bs-example-modal-lg">Publier votre dessin</button>
{% if app.user %}

<div id="modal" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <br>
        <div class="container-fluid">
            <form id="form2" method="post" action="{{ path('register_picture') }}">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <label>Titre du pixelart:</label><br>
                    </div>
                </div>
            <div class="row">
                <div class="col-md-6 col-md-offset-3"> 
                    <input type="text" name="title" id="titledef"><br><br>
                    <p id="erreurtitredef"></p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <label>Catégorie:</label><br>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <select id="id_categoriesdef">
                        {% for categorie in categories %}
                            <option value="{{ categorie.idCategories }}" >{{ categorie.title }}</option>
                        {% endfor %}
                    </select>
                    <br><br>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-md-offset-6">
                    <input type="hidden" name="canvas" value="" id="envoicanvasdef">
                    <input type="hidden" name="state" value="1" id="statedef">
                    <input type="hidden" name="thumb" id="thumbdef">
                    <input type="submit" value="Publier"><br>
                </div>
            </div>
        </form>
        </div>
        <br>
    </div>
  </div>
</div>

{% else %}
<div id="modal" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <br>
        <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
        <p id="psaveconnexion">Pour sauvergarder il faut d'abord vous connecter</p>
        </div>
            </div>
                   <div class="row">
            <div class="col-md-2 col-md-offset-5"> 
                <button id="asaveconnexion"><a href="{{ path('login') }}">Connexion</a></button><br><br>
            
            </div>
            </div>
        </div>
    </div>
    </div>
    </div>
        <br>
  {% endif %}
        
        
    </div>
  

    <br>
          
            
           <!--Canvas ! Si l'utilisateur reprend un brouillon, il est automatiquement restitué par le script-->     
           {% if picture is defined and picture %} 
            <div class="col-md-6" id="cadre" style="overflow:scroll;">
                <canvas id="canvas">Votre navigateur ne supporte pas canvas</canvas>
                <input type="hidden" value="{{picture.canvas}}" id="picture">
            </div>
               
           {%else%}
            <div class="col-md-6" id="cadre" style="overflow:scroll;">
                <canvas id="canvas">Votre navigateur ne supporte pas canvas</canvas>
            </div>
           {% endif %}
            
            <div class="col-md-3" id="couleurs">
                <div id="sideBarShareButtons">
                <div id="my">
                    <!--Couleurs-->
                    <h2>Couleurs</h2>
                </div> 
                
                <div>
                    <!--Zoom et bouton pour effacer-->
                    <button id="erase" class="btn btn-robot btn-sm">Effacer</button><br><br><br>
                    <button id="zoom"><span class="glyphicon glyphicon-zoom-in" aria-hidden="true"></button>
                    <button type="button" id="dezoom"><span class="glyphicon glyphicon-zoom-out" aria-hidden="true"></span></button><br><br>
                    
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
    <script src="{{ asset('js/creation.js') }}"></script>
    <script src="{{ asset('js/colors.js') }}"></script>
{% endblock %}

