{% extends "layout.html.twig" %}
{% block intro %}
    <div class="intro-galery row">
        <div class="overlay"></div>
        <div class="col-sm-12">
            <h1 class="mt0 color-white">Apprendre PixelArt</h1>
        </div>
    </div> <!-- /.intro.row -->
{% endblock %}

{% block content %}
    <main>
        <section class="shop">
            <div class="container page-bgc">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="title-box">
                            <h2 class="title mt0">Nos PixelArt</h2>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="boxed">

                    {% if pictures is empty %}
                        <p>Il n'y a pas de PixelArt à afficher</p>
                    {% else %}
                        
                        <form method="post" action="{{ path('register_picture') }}">             
                            <div class="col-sm-6">
                                <label>Filtrer par catégorie</label>
                                <select class="form-control" name="category">
                                    <option class="category-galery"  value="">Toutes catégories</option>
                                    {% for categorie in categories %}
                                    <option class="category-galery" value="{{ categorie.idCategories }}">{{ categorie.title }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-sm-6">
                                <label>Filtrer par difficulter</label>
                                <select class="form-control">
                                    <option class="difficulty-galery" value=""><a href="{{ path('galery-pixelart', { p : 1 }) }}?difficulty=">Tous niveaux</a></option>
                                    <option class="difficulty-galery" value="très facile"><a href="{{ path('galery-pixelart', { p : 1 }) }}?difficulty=">Très facile</a></option>
                                    <option class="difficulty-galery" value="facile">Facile</option>
                                    <option class="difficulty-galery" value="moyen">Moyen</option>
                                    <option class="difficulty-galery" value="difficile">Difficile</option>
                                </select>
                            </div>
                        </form><br><br><br><br><br>
                       
{#                                {% set newArray = [] %}                                
                                {% for picture in pictures %}
                                    {% if picture.difficulty not in newArray %}
                                        <option class="category-galery" value="">{{ picture.difficulty }}</option>
                                        {% set newArray = newArray|merge([picture.difficulty]) %}
                                    {% endif %}                                
                                
                                {% endfor %}#}
                            
                        {% for picture in pictures %}
                            
                        <div class="col-sm-4">
                            <div class="shop-box">
                                <img class="img-full img-responsive" src="{{ picture.thumb | replace({" ":"+"})  }}" alt="">
                                <div class="shop-box-hover text-center">
                                    <div class="c-table">
                                        <div class="c-cell">
                                            <a href="{{ path('apprendre-pixelart', { id : picture.idPictures }) }}">
                                                <span class="glyphicon glyphicon-education" aria-hidden="true"></span> Apprendre
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="shop-box-title">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <p class="gras">{{ picture.title }}</p>
                                        <p class="text-lowercase">Cat. : <span class="text-uppercase "> {{ picture.categories.title }}</span></p>
                                        
                                    </div>
                                    <div class="col-sm-6">
                                        <p class="text-lowercase text-right">Niveau : <span class="text-uppercase ">{{ picture.difficulty }}</span></p>
                                        <p class="text-lowercase text-right">Créé par<span class="text-uppercase gras"> {{ picture.users.username }}</span></p>
                                         {#<div class="star">
                                            {% if picture.note > 0 %}
                                                {% for i in 1..picture.note %}
                                                     <span class="ion-ios-star"></span>
                                                {% endfor %}
                                            {% endif %}
                                           
                                        </div>#}
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}

                        <div class="col-sm-12">
                            <nav>    
                                <ul class="pager" id="pager-galery">
                                    
                                    {% for i in 1..paginate.lastpage %}
                                        {% if i == paginate.currentpage %}
                                            <li><a class="pager-galery" href="{{ path('galery-pixelart', { p : i }) }}">{{ i }}</a></li>
                                        {% else %}
                                            <li ><a  href="{{ path('galery-pixelart', { p : i }) }}">{{ i }}</a></li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            </nav>
                       
                        </div> 
                    {% endif %}

                    </div>
                </div>
            </div>
        </section>              
    </main>

{% endblock %} 
