{% extends "layout.html.twig" %}
{% block intro %}
    <div class="intro-galery row">
        <div class="overlay"></div>
        <div class="col-sm-12">
            <h1 class="mt0 color-white">Apprendre PixelArt</h1>
        </div>
    </div> <!-- /.intro.row -->
{% endblock %}

{% block content %}
    <main>
        <section class="shop">
            <div class="container page-bgc">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="title-box">
                            <h2 class="title mt0">Nos PixelArt</h2>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="boxed">

                    {% if pictures is empty %}
                        <p>Il n'y a pas de PixelArt à afficher</p>
                    {% else %}
                        
                        <form method="post" action="{{ path('register_picture') }}">             
                            <div class="col-sm-6">
                                
                                <select class="form-control" name="category" id="select-category">
                                    <option class="category-galery"  value="">-  Filtrer par catégorie  -</option>
                                    {#<option class="category-galery"  value="{{ path('galery-pixelart', { p : 1, d : d, c : 'all' }) }}">Toutes catégories</option>
                                    {% for categorie in categories %}
                                    <option class="category-galery" value="{{ path('galery-pixelart', { p : 1, d : d, c : categorie.idCategories }) }}">{{ categorie.title }}</option>
                                    {% endfor %}#}
                                    
                                    {#{% set newArray = [] %}                                
                                    {% for picture in pictures %}
                                        {% if picture.categories.title not in newArray %}
                                            <option class="category-galery" value="{{ path('galery-pixelart', { p : 1, d : d, c : picture.idCategories }) }}">{{ picture.categories.title }}</option>
                                            {% set newArray = newArray|merge([picture.categories.title]) %}
                                        {% endif %}                                

                                    {% endfor %}#}
                                    {#                                    {% for categorie in categories %}
                                    <option class="category-galery" value="{{ path('galery-pixelart', { p : 1, c : categorie.idCategories }) }}">{{ categorie.title }}</option>
                                    {% endfor %}#}
                                </select>
                            </div>
                            <div class="col-sm-6">
                                
                        {#        <select id='select-difficulty' class="form-control">
                                    <option class="difficulty-galery" value="">- Filtrer par difficulter -</option>
                                    <option class="difficulty-galery" value="{{ path('galery-pixelart', { p : 1, d : 'all', c : c  }) }}">Tous niveaux</option>
                                    <option class="difficulty-galery" value="{{ path('galery-pixelart', { p : 1, d : 'très facile', c : c }) }}">Très facile</option>
                                    <option class="difficulty-galery" value="{{ path('galery-pixelart', { p : 1, d : 'facile', c : c }) }}">Facile</option>
                                    <option class="difficulty-galery" value="{{ path('galery-pixelart', { p : 1, d : 'moyen', c : c }) }}">Moyen</option>
                                    <option class="difficulty-galery" value="{{ path('galery-pixelart', { p : 1, d : 'difficile', c : c }) }}">Difficile</option>
                                </select>#}
                            </div>
                        </form><br><br><br><br><br>
                       
{#                                {% set newArray = [] %}                                
                                {% for picture in pictures %}
                                    {% if picture.categories.title not in newArray %}
                                        <option class="category-galery" value="{{ path('galery-pixelart', { p : 1, c : picture.idCategories }) }}">>{{ picture.categories.title }}</option>
                                        {% set newArray = newArray|merge([picture.categories.title]) %}
                                    {% endif %}                                
                                
                                {% endfor %}#}
                            
                        {% for picture in pictures %}
                            
                        <div class="col-sm-6 col-md-4">
                            <div class="shop-box">
                                <div class="text-center div-img"><img class="img-galery" src="{{ picture.thumb | replace({" ":"+"})  }}" alt=""></div>
                                <div class="shop-box-hover text-center">
                                    <div class="c-table">
                                        <div class="c-cell">
                                            <a href="{{ path('apprendre-pixelart', { id : picture.idPictures }) }}">
                                                <span class="glyphicon glyphicon-education" aria-hidden="true"></span> Apprendre
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="shop-box-title">
                                <div class="row">
                                    <div class="col-xs-6">
                                        <p class="gras">{{ picture.title }}</p>
                                        <p class="text-lowercase">Cat. : <span class="text-uppercase "> {{ picture.categories.title }}</span></p>
                                        
                                    </div>
                                    <div class="col-xs-6">
                                        <p class="text-lowercase text-right"><span class="text-uppercase ">{{ picture.difficulty }}</span></p>
                                        <p class="text-lowercase text-right">Créé par<span class="text-uppercase gras"> {{ picture.users.username }}</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}

                        <div class="col-sm-12">
                            <nav>    
                                <ul class="pager" id="pager-galery">
                                    
                                    {% for i in 1..paginate.lastpage %}
                                        {% if i == paginate.currentpage %}
                                            <li><a class="pager-galery" href="{{ path('galery-pixelart', { p : i }) }}">{{ i }}</a></li>
                                        {% else %}
                                            <li ><a  href="{{ path('galery-pixelart', { p : i }) }}">{{ i }}</a></li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            </nav>
                       
                        </div> 
                    {% endif %}

                    </div>
                </div>
            </div>
        </section>              
    </main>

{% endblock %} 
{% block script %}
    <script src="{{ asset('js/galery.js') }}"></script>


{% endblock %}

