<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>PixelArt-Factory</title>

        <!-- CSS -->

        <!-- google fonts -->
        <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,500,700' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>

        <!-- files -->
        <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ asset('css/magnific-popup.css') }}" rel="stylesheet">
        <link href="{{ asset('css/owl.carousel.css') }}" rel="stylesheet">
        <link href="{{ asset('css/owl.carousel.theme.min.css') }}" rel="stylesheet">
        <link href="{{ asset('css/ionicons.css') }}" rel="stylesheet">
        <link href="{{ asset('css/main.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('css/apprendre.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('css/stylecreation.css') }}" rel="stylesheet" type="text/css" />
        {% block style %}{% endblock %}
        

        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>

    <!-- Site Header -->
        <div class="site-header-bg">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <a href="{{ path('homepage') }}">
                        <span><img src="{{ asset('images/pixelart1_transparent.png') }}" alt="logo" width="40" height="40"></span>
                        <span><img src="{{ asset('images/pixelart_title_transparent.png') }}" alt="title" width="150" height="40"></span>
                        <span class="user">Factory</span>
                        </a>
                    </div>
                    <div class="col-sm-3 col-sm-offset-3 text-right">
                        
                        {% if app.user %}

                            <div class="brand" style="color: white;">
                                <div>{{ app.user.username }}</div>
                                <div class=""><span class="glyphicon glyphicon-log-out"><a class="user" href="{{ path('logout') }}">Déconnexion</a></span></div>
                                
                            </div>
                            {% else %}
                                <div class=""><span class="glyphicon glyphicon-user"><a class="user" href="{{ path('login') }}">Connexion</a></span></div>
                                <div class=""><span class="glyphicon glyphicon-log-in"><a class="user" href="{{ path('register') }}">Inscription</a></span></div>
                            {% endif %}
                        </div>
                        
                        
                    </div>
                </div>
            </div>
        </div>
        
    <!-- Header -->

        <section id="header" class="main-header">
            <div class="container">

                <div class="row">
                    <nav class="navbar navbar-default">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#site-nav-bar" aria-expanded="false">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>

                        <div class="collapse navbar-collapse" id="site-nav-bar">
                            <ul class="nav navbar-nav">
                                <li class="active" ><a href="{{ path('homepage') }}">Accueil</a></li>
                                <li><a href="{{ path('galery-pixelart', { p : 1 }) }}">Apprentissage</a></li>
                                <li><a href="{{ path('creation') }}">Création</a></li>
                                <li><a href="{{ path('qui-sommes-nous') }}">Qui sommes nous</a></li>
                                
                            </ul>
                        </div><!-- /.navbar-collapse -->
                    </nav>
                </div>
             
                 {#{{ global.request }}#}
                
                {% block intro %}{% endblock %}

            </div> <!-- /.container -->
            <div class="nutral"></div>
        </section> <!-- /#header -->
        
        {% block content %}{% endblock %}
        
    <!-- Footer -->

        <footer class="footer text-center">
            <h3><a href="https://themewagon.com/">2017 &copy; pixelart-factory.com by vejj</a></h3>
        </footer>

    <!-- Scripts -->
        <script src="{{ asset('js/jquery-1.12.3.min.js') }}"></script>
        <script src="{{ asset('js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('js/jquery.magnific-popup.min.js') }}"></script>
        <script src="{{ asset('js/owl.carousel.min.js') }}"></script>
        <script src="{{ asset('js/script.js') }}"></script>

        {% block script %}{% endblock %}

    </body>
</html>
