{% extends "layout.html.twig" %}
{% block style %}<link href="{{ asset('css/login.css') }}" rel="stylesheet" type="text/css" />{% endblock %}


{% block content %}
    <div class="container">
        <div class="row login_box">
            <div class="col-md-12 col-xs-12" align="center">
                <div class="line"><h3><script>document.write(new Date().getFullYear())</script></h3></div>
                <div class="outter"><img src="{{ asset ('images/pixelart_avatar_login1.jpg') }}" class="image-circle"/></div>   
                <h1>Hi Guest</h1>
               
            </div>

            <div class="col-md-12 col-xs-12 login_control">
                <form class="form" method="post" action="{{ path('login_check') }}">
                    <div class="control">
                        <div class="label">Pseudo</div>
                        <input type="text" class="form-control" name="_username" value="{{ last_username }}"/>
                    </div>

                    <div class="control">
                        <div class="label">Mot de passe</div>
                        <input type="password" class="form-control" name="_password" value=""/>
                    </div>
                    {% if error %}
                        <div class="alert alert-danger">
                            {{ error | trans }}
                        </div>
                    {% endif %}
                    <div align="center">
                        <button class="btn btn-orange" type="submit">CONNEXION</button>
                    </div>
                </form>
            </div>          
        </div>
    </div>

{% endblock %}    
