{% extends "layout.html.twig" %}
    {% block content %}
       <!-- Page Content -->
    <div class="container">

      <!-- Portfolio Item Row -->
      <div class="row">

        <div class="col-md-8">
          <img class="img-fluid" src="{{ asset('images/factory2.png') }}" alt="factory">
        </div>

        <div class="col-md-4">
          <h1 class="my-3">Pixel Art Factory<br/>
          <small>Pour ceux qui aiment les pixels!</small></h1>
            <p></p>
          <ul>
            <li>Simple et intuitif</li>
            <li>Pour petit est grand</li>
            <li>Consectetur</li>
            <li>Adipiscing Elit</li>
          </ul>
        </div>
      </div>
      <!-- /.row -->
  
      <div class="row">

        <div class="col-md-3 col-sm-6 mb-4">
            <h3>Vassilina</h3> 
         <div class="shop-box">
            <img class="img-full img-responsive" src="{{ asset('images/vassilina.png') }}" alt="image-vassilina">
            <div class="shop-box-hover text-center">
                <div class="c-table">
                    <div class="c-cell">
                            <!--<span class="glyphicon glyphicon-education" aria-hidden="true"></span> Apprendre-->                           
                        <a href="#"target="_blank"><i class="fa fa-github fa-1x" aria-hidden="true"></i></a>
                        <a href="#"target="_blank"><i class="fa fa-twitter fa-1x" aria-hidden="true"></i></a>
                        <a href="#"target="_blank"><i class="fa fa-linkedin-square fa-1x" aria-hidden="true"></i></a>
                        <a href="#"target="_blank"><span class="glyphicon glyphicon-link " aria-hidden="true"></span></a>
                        
                    </div>
                </div>
            </div>           
        </div>  
         <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae. Sed dui lorem, adipiscing </p>    
      </div>
                
        <div class="col-md-3 col-sm-6 mb-4">
            <h3>Erwann</h3>
         <div class="shop-box">
            <img class="img-full img-responsive" src="{{ asset('images/erwann.png') }}" alt="image-erwann">
            <div class="shop-box-hover text-center">
                <div class="c-table">
                    <div class="c-cell">
                            <!--<span class="glyphicon glyphicon-education" aria-hidden="true"></span> Apprendre-->                           
                        <a href="#"target="_blank"><i class="fa fa-github fa-3x" aria-hidden="true"></i></a>
                        <a href="#"target="_blank"><i class="fa fa-facebook fa-3x" aria-hidden="true"></i></a>
                        <a href="#"target="_blank"><i class="fa fa-linkedin-square fa-3x" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>           
        </div>  
         <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae. Sed dui lorem, adipiscing </p>    
      </div>
                
        <div class="col-md-3 col-sm-6 mb-4">
            <h3>John</h3> 
         <div class="shop-box">
            <img class="img-full img-responsive" src="{{ asset('images/johan.png') }}" alt="image-johan">
            <div class="shop-box-hover text-center">
                <div class="c-table">
                    <div class="c-cell">
                            <!--<span class="glyphicon glyphicon-education" aria-hidden="true"></span> Apprendre-->                           
                        <a href="#"target="_blank"><i class="fa fa-github fa-3x" aria-hidden="true"></i></a>
                        <a href="#"target="_blank"><i class="fa fa-facebook fa-3x" aria-hidden="true"></i></a>
                        <a href="#"target="_blank"><i class="fa fa-linkedin-square fa-3x" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>           
        </div>  
         <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae. Sed dui lorem, adipiscing </p>    
      </div>
            
        <div class="col-md-3 col-sm-6 mb-4">
            <h3>Julien</h3> 
         <div class="shop-box">
            <img class="img-full img-responsive" src="{{ asset('http://placehold.it/250x150') }}" alt="image-julien">
            <div class="shop-box-hover text-center">
                <div class="c-table">
                    <div class="c-cell">
                            <!--<span class="glyphicon glyphicon-education" aria-hidden="true"></span> Apprendre-->                           
                        <a href="#"target="_blank"><i class="fa fa-github fa-3x" aria-hidden="true"></i></a>                        
                        <a href="#"target="_blank"><i class="fa fa-linkedin-square fa-3x" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>           
        </div>  
         <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae. Sed dui lorem, adipiscing </p>    
      </div>
      <!-- /.row -->
      
    </div>
    <!-- /.container -->
    {% endblock %}


   