{% extends "layout.html.twig" %}
    {% block content %}
       <!-- Page Content -->
    <div class="container">

      <!-- Portfolio Item Row -->
      <div class="row">

        <div class="col-md-8">
          <img class="img-fluid" src="{{ asset('http://placehold.it/750x500') }}" alt="">
        </div>

        <div class="col-md-4">
          <h1 class="my-3">Project Description<br/>
          <small>Secondary Text</small></h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae. Sed dui lorem, adipiscing in adipiscing et, interdum nec metus. Mauris ultricies, justo eu convallis placerat, felis enim.</p>
          <h3 class="my-3">Project Details</h3>
          <ul>
            <li>Lorem Ipsum</li>
            <li>Dolor Sit Amet</li>
            <li>Consectetur</li>
            <li>Adipiscing Elit</li>
          </ul>
        </div>

      </div>
      <!-- /.row -->
  
      <div class="row">

        <div class="col-md-3 col-sm-6 mb-4">
            <h3>Vassilina</h3>
          <a href="#">
            <img class="img-fluid" src="{{ asset('http://placehold.it/250x150') }}" alt="">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae. Sed dui lorem, adipiscing 
            </p>    
          </a>
        </div>

        <div class="col-md-3 col-sm-6 mb-4">
            <h3>Erwan</h3>

          <a href="#">
            <img class="img-fluid" src="{{ asset('http://placehold.it/250x150') }}" alt="">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae. Sed dui lorem, adipiscing 
            </p> 
          </a>
        </div>

        <div class="col-md-3 col-sm-6 mb-4">
            <h3>Johan</h3>

          <a href="#">
            <img class="img-fluid" src="{{ asset('http://placehold.it/250x150') }}" alt="">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae. Sed dui lorem, adipiscing 
            </p> 
          </a>
        </div>

        <div class="col-md-3 col-sm-6 mb-4">
            <h3>Julien</h3>

          <a href="#">
            <img class="img-fluid" src="{{ asset('http://placehold.it/250x150') }}" alt="">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae. Sed dui lorem, adipiscing 
            </p> 
          </a>
        </div>

      </div>
      <!-- /.row -->
      
    </div>
    <!-- /.container -->
    {% endblock %}


   