{% extends "layout.html.twig" %}
{% block content %}
<div class="container-fluid">
    <h1>Mes pixelarts</h1>
    <div class="row">
        <section class="col-md-6">
            
                <div class="row">
                    
                    <div class="boxed">
                    <h2>Mes brouillons</h2>
                    {% if brouillons is empty %}
                        <p>Il n'y a pas de PixelArt à afficher</p>
                    {% else %}
                        {% for brouillon in brouillons %}
                            
                        <div class="col-sm-4">
                            <div class="shop-box">
                                <img class="img-full img-responsive" src="{{ brouillon.thumb | replace({" ":"+"}) }}" alt="">
                                <div class="shop-box-hover text-center">
                                    <div class="c-table">
                                        <div class="c-cell">
                                            
                                            <a href="{{ path('edit', { id : brouillon.idPictures }) }}">
                                                <span class="glyphicon glyphicon-education" aria-hidden="true"></span> Continuez votre dessin
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="shop-box-title">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <p class="gras">{{ brouillon.title }}</p>
                                        <p class="text-lowercase">Cat. : <span class="text-uppercase "> {{ brouillon.categories.title }}</span></p>
                                        
                                    </div>
         
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                     {%endif%}
                    </div>
                </div>
        </section>
        <section class="col-md-6">
            
             
 
                <div class="row">
                    
                    <div class="boxed">
                        <h2>Mes dessins envoyés</h2>
                    {% if envoyes is empty %}
                        <p>Il n'y a pas de PixelArt à afficher</p>
                    {% else %}
                        {% for envoye in envoyes %}
                            
                        <div class="col-sm-4">
                            <div class="shop-box">
                                <img class="img-full img-responsive" src="{{ envoye.thumb | replace({" ":"+"}) }}" alt="">
                                <div class="shop-box-hover text-center">
                                    <div class="c-table">
                                        <div class="c-cell">
                                            <a href="{{ path('view-pixelart', { id : envoye.idPictures }) }}">
                                                <span class="glyphicon glyphicon-education" aria-hidden="true"></span> Revoir votre dessin
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="shop-box-title">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <p class="gras">{{ envoye.title }}</p>
                                        <p class="text-lowercase">Cat. : <span class="text-uppercase "> {{ envoye.categories.title }}</span></p>
                                        
                                    </div>
         
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                     {%endif%}
                    </div>
                </div>
                
        </section>
    </div>
</div>
{% endblock %}
