{% extends "layout.html.twig" %}

{% block style %}<link href="{{ asset('css/styleespacemembre.css') }}" rel="stylesheet" type="text/css" />{% endblock %}
{% block intro %}
    <div class="intro-learn-one row">
        <div class="overlay"></div>
        <div class="col-sm-12">
            <h1 class="mt0 color-white">Mes PixelArts</h1>
        </div>
    </div> <!-- /.intro.row -->
{% endblock %}
{% block content %}
<div class="container-fluid">
   <div class="row">
       <!--Filter pour choisir les types de dessins(brouillons ou envoyés! -->
        <div class="col-sm-12">
            <div class="title-box">
                <button class="btn btn-robot btn-lg" id="buttontous">Tous</button>
                <button class="btn btn-robot btn-lg" id="buttonbrouillons">Brouillons</button>
                <button class="btn btn-robot btn-lg" id="buttonenvoyes">Dessins envoyés</button>
            </div>
        </div>
    </div>
    <div class="row" id="allpixelarts">
        
        <section class="col-md-12" id="brouillons">
            
                <div class="row">
                    <!--Les brouillons -->
                    <div class="boxed">
                    <h2>Mes brouillons</h2>
                    {% if brouillons is empty %}
                        <p>Il n'y a pas de brouillons à afficher</p>
                    {% else %}
                        {% for brouillon in brouillons %}
                            
                        <div class="col-sm-4 conteneur-thumb">
                            <div class="shop-box">
                                <div class="conteneur-image">
                                    <img class="img-responsive image" src="{{ brouillon.thumb | replace({" ":"+"}) }}"  alt="Image trop lourde" >
                                </div>
                                <div class="shop-box-hover text-center">
                                    <div class="c-table">
                                        <div class="c-cell">
                                            
                                                <a href="{{ path('edit', { id : brouillon.idPictures }) }}">
                                                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Continuez votre dessin
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="shop-box-title">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <p class="gras" id="gras">{{ brouillon.title }}</p>
                                        <p class="text-lowercase">Cat. : <span class="text-uppercase "> {{ brouillon.categories.title }}</span></p>
                                        
                                    </div>
         
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                     {%endif%}
                    </div>
                </div>
                
        </section>
    <div class="row">
        <section class="col-md-12" id="envoyes">
            
        
 
            
        <!--Les dessins envoyés! -->
        <div class="boxed">
                      <h2>Mes dessins envoyés</h2>  
                    {% if envoyes is empty %}
                        <p>Il n'y a pas de dessins envoyés à afficher</p>
                    {% else %}
                        {% for envoye in envoyes %}
                            
                        <div class="col-sm-4 conteneur-thumb">
                            <div class="shop-box">
                                <div class="conteneur-image">
                                    <a href="source de l'image" data-toggle="lightbox"><img class="img-responsive image" src="{{ envoye.thumb | replace({" ":"+"}) }}" alt="Image trop lourde"></a>
                                </div>
                                <div class="shop-box-hover text-center">
                                    <div class="c-table">
                                        <div class="c-cell">
                                            <a href="{{ envoye.thumb | replace({" ":"+"}) }}" data-toggle="lightbox"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> Voir<img class="img-responsive image" src="{{ envoye.thumb | replace({" ":"+"}) }}" alt="Image trop lourde" style="display:none;"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="shop-box-title">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <p class="gras">{{ envoye.title }}</p>
                                        <p class="text-lowercase">Cat. : <span class="text-uppercase "> {{ envoye.categories.title }}</span></p>
                                        
                                    </div>
         
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                     {%endif%}
                </div>
            </section>
        </div>
    </div>
</div>

{% endblock %}

{% block script %}
    <script src="{{ asset('js/space-member.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.min.js"></script>
    <script>
           $(document).on('click', '[data-toggle="lightbox"]', function(event) {
                event.preventDefault();
                $(this).ekkoLightbox();
            });
    </script>
{%endblock%}